/* TABLETS */
@media(max-width: 768px) {
  /* HOME */
  .navbar {
    flex-direction: column;
    padding: 1.5rem;
  }
  .navbar a {
    padding: .625rem;
    margin: .25rem;
  }

  .navbar .logo {
    display: none;
  }

  .container-home .content h1 {
    font-size: 3rem;
  }

  /* ABOUT */
  .header-space-div-about {
    display: none;
  }

  .about .about-content {
    flex-direction: column;
  }
  .about .about-content img {
    display: none;
  }
  .about .about-content h3 {
    text-align: center;
  }
  .about .about-content i {
    display: none;
  }
  .about .about-content p {
    text-align: center;
    padding: 0;
  }

  /* WORK */
  .work img {
    display: none;
  }
  .work .work-content {
    flex-direction: column;
  }
  .work .work-content h2, h4, p, ul {
    text-align: center;
  }
}

/* CONTACT */
.form-control {
  padding-bottom: .25rem;
  margin-bottom: .25rem;
}

/* FOOTER */
.footer .content a,
.footer .content i {
  margin: 0 .5rem;
}