/* TABLETS */
@media(max-width: 768px) {
  /* HOME */
  .navbar {
    height: 4rem;
    flex-direction: column;
    padding: 1.5rem;
  }
  .navbar a {
    padding: .625rem;
    margin: .25rem;
  }

  .navbar .logo {
    display: none;
  }

  .container-home .content h1 {
    font-size: 3rem;
  }

  /* ABOUT */
  .header-space-div-about {
    display: none;
  }

  .about .about-content {
    flex-direction: column;
  }
  .about .about-content img {
    display: none;
  }
  .about .about-content h3 {
    text-align: center;
  }
  .about .about-content i {
    display: none;
  }
  .about .about-content p {
    text-align: center;
    padding: 0;
  }

  /* WORK */
  .work img {
    display: none;
  }
  .work .work-content {
    flex-direction: column;
  }
  .work .work-content h2, h4, p, ul {
    text-align: center;
  }

  /* CONTACT */
  .form-control {
    padding-bottom: .25rem;
    margin-bottom: .25rem;
  }

  /* FOOTER */
  .footer {
    height: 4rem;
  }
  .footer .content a,
  .footer .content i {
    margin: 0 .5rem;
  }
}



/* MOBILE SMALL */
@media(max-width: 320px) {
  /* HOME */
  .navbar a {
    color: #fff;
    padding: .3 .625rem;
    margin: 0;
  }

  /* CONTACT */
  .form {
    padding: .3rem 1rem;
  }
}

/* Iphone 5/SE, 6, 7, 8 */
@media(max-height: 719px) {
  .navbar {
    display: none;
  }
  .form {
    padding: 0.3 1rem;
  }
  .container-contact h2 {
    margin: .5rem;
  }
  .footer {
    display: none;
  }
}