:root {
  --primary-color: #408f58;
  --secondary-color: #076094;
  --light-color: #f4f4f4;
  --dark-color: #333;
  --success-color: #2ecc71;
  --error-color: #e74c3c;
}

/* COLORS */
.bg-light {
  background-color: var(--light-color);
}

/* LAYOUT */
.flex {
  display: flex;
}

.vertical {
  flex-direction: column;
}

.horizontal {
  flex-direction: row;
}

.centered {
  justify-content: center;
  align-items: center;
}

.wrap {
  flex-wrap: wrap;
}

.basis {
  flex-basis: 100%;
  flex: 1;
}

/* HEIGHT & WIDTH */
.full-height {
  height: 100%;
}

.full-width {
  width: 100%;
}

/* PADDING & MARGIN */
.padded {
  padding: 1.25rem;
}

.margin-top {
  margin-top: 5.5rem;
}

/* TEXT & ICONS*/
.text-primary {
  color: var(--primary-color);
}

.text-secondary {
  color: var(--secondary-color);
}

.icons {
  padding: 2rem;
}

.icons h3 {
  font-weight: bold;
  margin-bottom: 1rem;
}

.small {
  font-size: 0.9rem;
}

.icons i {
  background-color: var(--primary-color);
  color: #fff;
  padding: 1rem;
  border-radius: 50%;
  margin-bottom: 1rem;
}

/* BUTTON */
.btn {
  cursor: pointer;
  display: inline;
  padding: 0.625rem 1.25rem;
  border: none;
  border-radius: 0.3rem;
}

.btn:hover {
  opacity: 0.9;
}

.btn-primary {
  background: var(--primary-color);
  color: #fff;
}
.btn-secondary {
  background: var(--secondary-color);
  color: #fff;
}
