:root {
  --primary-color: #408f58;
  --secondary-color: #078f94;
  --light-color: #f4f4f4;
  --dark-color: #333;
  --success-color: #2ecc71;
  --error-color: #e74c3c;
}

/* LAYOUT */
.flex {
  display: flex;
}

.vertical {
  flex-direction: column;
}

.horizontal {
  flex-direction: row;
}

.centered {
  justify-content: center;
  align-items: center;
}

.between {
  justify-content: space-between;
}

.wrap {
  flex-wrap: wrap;
}

.basis {
  flex-basis: 100%;
  flex: 1;
}

/* COLORS */
.bg-light {
  background-color: var(--light-color);
}

/* TEXT */
.text-primary {
  color: var(--primary-color);
}

.text-secondary {
  color: var(--secondary-color);
}

.text-center {
  text-align: center;
}

.small-text {
  font-size: 1rem;
}

.icons {
  padding: 2rem;
}

/* BUTTON */
.btn {
  cursor: pointer;
  display: inline;
  padding: .625rem 1.25rem;
  border: none;
  border-radius: .3rem;
}

.btn:hover {
  opacity: .9;
}

.btn-primary {
  background: var(--primary-color);
  color: #fff;
}
.btn-secondary {
  background: var(--secondary-color);
  color: #fff;
}

/* PADDING */
.padded {
  padding: 1.25rem;
}

/* Height & Width */
.full-height {
  height: 100%;
}

.full-width {
  width: 100%;
}