* {
  box-sizing: border-box;
  margin: 0;
}

body {
  font-family: 'Roboto', sans-serif;
}

/* HEADER */

/* NAVBAR */
.logo {
  padding: 1rem 1.5rem;
}

.header-home {
  background-image: url(./assets/showcase.jpg);
  height: 100vh;
}

.main-nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.main-nav ul {
  display: flex;
}

.main-nav li {
  list-style: none;
  padding: 1rem 1.5rem;
}

.main-nav a {
  text-decoration: none;
  color: #fff;
  text-transform: uppercase;
  border-bottom: 3px transparent solid;
  padding-bottom: .5rem;
  transition: border-color 0.5s;
}

.main-nav a:hover {
  border-color: #6fa7db;
}

.main-nav a.current {
  border-color: #6fa7db;
}
/* END NAVBAR */

/* CONTENT */

.header-content {
  display: flex;
  flex-direction: column;

}

.header-content h1 {
  color: #fff;
  font-size: 3rem;
  font-weight: 500;
}

.header-content .lead {
  color: #fff;
}